/* This is a CSS file for use in our project for formatting.*/

/* 
	Font Family DO NOT DELETE

    font-family: 'Cinzel', serif;

    font-family: 'Lato', sans-serif;
*/

* {
  	box-sizing: border-box;
}

body {
  	padding: 10px;
}

p {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size:48;
	font-family: 'Cinzel', serif;
}

h2 {
	font-size:32px;
	font-family: 'Cinzel', serif;
}

h3 {
	font-size:24px;
	font-family: 'Cinzel', serif;
}

h5 {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

ul {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

.nav {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
.span {
	color: white;
	font-style: center;
	float: left;
	width: 30%;
	height: 500px;
	padding: 15px;
	background-color: #192856;
	margin-left: 2%;
	border-top: solid white 2px;
	margin-bottom: 30px;
	
} 
.span { 
	text-align: center;
	text-decoration: underline;
	text-shadow: 15%;
}
div.span img {
	width: 90%;
	height: auto;
	border-radius: 90%;
	padding: 15px;
}
div.span:hover {
	opacity: 80%;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}


.member {
	font-family: 'lato', sans-serif;
	font-size: 15px;
	font: #92a5df;
}
	
.members {
	height: 200px;
	width: auto;
	padding: 10px;
}

/* Add a card effect for articles */
.box{
	background-color: #c8d2ef;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.lilbox {
	float: left;
	background-color: ;
	width: 20%;
	padding: 20px;
	margin: 2%;
}

div.place img {
	float: center;
	width: 95%;
	height: auto;
	border-radius: 90%;
	padding: 15px;
}
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
   		width: 100%;
    	padding: 0;
  }
}
.fa {
	position: left;
}
.fa {
	
	color: #eff2fa;
	padding: 15px;
	font-size: 50px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	align-items: center;
}
.fa:hover {
	color: #eff2fa;
	opacity: 0.5;
}
.majors {
	font-family: 'Lato', sans-serif;
	color: white;
	list-style: square;
}
.bottomrow {
	width: 100%;
	float: left;
}

.span2 {
	color: white;
	font-style: center;
	float: left;
	width: 23%;
	height: 500px;
	padding: 2%;
	background-color: #192856;
	margin-top: 3%;
	margin-left: 2%;
	border-top: solid white 2px;
	margin-bottom: 30px;	
}
div.span2 img {
	width: 100%;
	height: 160px;
	border-radius: 70%;
}
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
	background-color: #243a7c;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
	background-color: #243a7c;
}

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 145px;
}

div.gallery:hover {
	border: solid #777;
}

div.gallery img {
	width: 100%;
	height: auto;
}

div.desc {
	padding: 10px;
	text-align: center;
}

 div.one{
 	background: url("../img/rec/comlabs.jpg"); width:100%; max-width:100%;
 	background-repeat: no-repeat;
 	background-size: cover;
 }


/* This portion made using W3.css's color tool. */
.w3-theme-l5 {color:#000 !important; background-color:#eff2fa !important}
.w3-theme-l4 {color:#000 !important; background-color:#c8d2ef !important}
.w3-theme-l3 {color:#000 !important; background-color:#92a5df !important}
.w3-theme-l2 {color:#fff !important; background-color:#5b78cf !important}
.w3-theme-l1 {color:#fff !important; background-color:#3353b1 !important}
.w3-theme-d1 {color:#fff !important; background-color:#20346e !important}
.w3-theme-d2 {color:#fff !important; background-color:#1c2e62 !important}
.w3-theme-d3 {color:#fff !important; background-color:#192856 !important}
.w3-theme-d4 {color:#fff !important; background-color:#15224a !important}
.w3-theme-d5 {color:#fff !important; background-color:#121d3d !important}

.w3-theme-light {color:#000 !important; background-color:#eff2fa !important}
.w3-theme-dark {color:#fff !important; background-color:#121d3d !important}
.w3-theme-action {color:#fff !important; background-color:#121d3d !important}

.w3-theme {color:#fff !important; background-color:#243a7c !important}
.w3-text-theme {color:#243a7c !important}
.w3-border-theme {border-color:#243a7c !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#243a7c !important}
.w3-hover-text-theme:hover {color:#243a7c !important}
.w3-hover-border-theme:hover {border-color:#243a7c !important}